<script src="/js/lib/Chart.js"></script>
<script src="/js/lib/numeral.min.js"></script>
<div class="main">
  <header> 
    <h1><a href="index.html"><img src="images/209x68.jpg" alt=""></a></h1> 
  </header>  
  <!--==============================content================================-->
  <section id="content">
    <div class="header-block">
      <nav class="nav-bg">  
        <ul class="menu">
          <li><a ng-href="#/home">Home</a></li>
          <li><a ng-href="#/price">Stock Price</a></li>
          <li class="current"><a ng-href="#/bbbfund/overview">BBB Fund</a></li>
          <li><a ng-href="#/user/overview">Portfolio</a></li>
          <li><a ng-href="#/contact">Contacts</a></li>
        </ul>
      </nav> 
    </div>
    <ul class="minimenu">
      <li class="current"><a ng-href="#/bbbfund/overview">Overview</a></li>
      <li><a ng-href="#/bbbfund/chart">Chart</a></li>
      <li><a ng-href="#/bbbfund/portfolio">Portfolio</a></li>
    </ul>
    <div class="container_24 top-1">
      <div class="grid_5">
        <div class="overview">
          <table width="100%">
            <thead>
              <tr><th colspan="2" style="font-size: 24px;"><span>BBB FUND</span><br><span style="font-size: 13px;">{{now}}</span></th></tr>
            </thead>
            <tbody>
              <tr>
                <th class="th-left">Total</th>
                <th class="th-right" id="bbb-asset">{{bbbfund.property.asset}} K</th>
              </tr>
              <tr>
                <th class="th-left">Profit</th>
                <th class="th-right" id="bbb-profit">{{bbbfund.dailyProfit}} K</th>
              </tr>
              <tr>
                <th class="th-left">% Profit</th>
                <th class="th-right" id="bbb-percent">{{bbbfund.dailyPercent}} %</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="market">
          <table class="table">
            <thead><tr><th colspan="2" style=" font-size: 24px;"><span>VN Market</span></th></tr></thead>
              <tr>
                <th class="th-left">VN Index<br>{{vn.index}}</th>
                <th class="th-right" id="vnindex">{{vn.percent}}<br>{{vn.change}}</th>
                <th class="th-right percent" id="vnpercent">%<br></th>
              </tr>
            <tr>
              <th class="th-left">VN30 Index<br>{{vn30.index}}</th>
              <th class="th-right" id="vn30index">{{vn30.percent}}<br>{{vn30.change}}</th>
              <th class="th-right percent" id="vn30percent">%<br></th>
            </tr>
          </table>
        </div>
      </div>
      <div class="grid_19">
        <div>
          <canvas id="line" height="500" width="750"></canvas>
        </div>
      </div>
    </div>
    <div class="container_24">
      <div class="grid_19 subsection">
        <div class="subsection-title">
          2015 BBBFUND ASSET
        </div>
        <div>
          <canvas id="bar" height="400" width="750"></canvas>
        </div>
      </div>
      <div class="grid_5 subsection">
        <div class="subsection-title" style="margin-left: 15px">
          MOVERS
        </div>
        <div>
          <div class="gainers-and-losers">
            <div class="gainers arrow"></div>
            <div ng-class="{'gainers list': bbbfund.gainList.length, 'gainers emptylist': !bbbfund.gainList.length}">
              <table ng-repeat="stock in bbbfund.gainList">
                <tr class="list-row1">
                  <th><span>{{stock.stock.code}}</span></th>
                  <th class="gain-value"><span>{{(stock.change/stock.deal*100).toFixed(2)}}%</span></th>
                <tr>
                <tr class="list-row2" showonhoverparent>
                  <th><span>{{stock.deal}}</span></th>
                  <th class="gain-value">{{stock.change}}</th>
                <tr>
              </table>
            </div>
            <div class="gainers more"><span ng-hide="bbbfund.gainList.length">No gainers today</span></div>
            <div class="losers more"><span ng-hide="bbbfund.loseList.length">No losers today</span></div>
            <div ng-class="{'losers list': bbbfund.loseList.length, 'losers emptylist': !bbbfund.loseList.length}">
              <table ng-repeat="stock in bbbfund.loseList">
                <tr class="list-row1">
                  <th><span>{{stock.stock.code}}</span></th>
                  <th class="lose-value"><span>{{(stock.change/stock.deal*100).toFixed(2)}}%</span></th>
                <tr>
                <tr class="list-row2" showonhoverparent>
                  <th><span>{{stock.deal}}</span></th>
                  <th class="lose-value"><span>{{stock.change}}</span></th>
                <tr>
              </table>
            </div>
            <div class="losers arrow"></div>
          </div>
        </div>
      </div>    
    </div>
  </section> 
<!--==============================footer=================================-->
  <footer>
    <p><strong>BBB INC</strong> <span>© 2015</span></p>
    Website Template designed by <a href="http://www.templatemonster.com/" target="_blank" rel="nofollow" class="link">TemplateMonster.com</a>
  </footer> 
</div>

<script>
  $('.list-row1').hover(function(){
    $('.list-row2').css("display", "block");
  }, function(){
    $('.list-row2').css("display", "none");
  });
</script>