<script>
    $(document).ready(function(){
        $('.slider')._TMS({
            show:0,
            pauseOnHover:false,
            prevBu:false,
            nextBu:false,
            playBu:false,
            duration:1000,
            preset:'fade',
            pagination:true,//'.pagination',true,'<ul></ul>'
            pagNums:false,
            slideshow:8000,
            numStatus:false,
            banners:'fade',// fromLeft, fromRight, fromTop, fromBottom
            waitBannerAnimation:false,
            progressBar:false
        })      
    }) 
</script>
<div class="main">
   <header> 
       <h1><a href="index.html"><img src="images/209x68.jpg" alt=""></a></h1> 
   </header>  
  <!--==============================content================================-->
    <section id="content">
    	<div class="header-block">
            <nav class="nav-bg">  
              <ul class="menu">
                    <li class="current"><a ng-href="#/home">Giới thiệu</a></li>
                    <li><a ng-href="#/banggia">Bảng giá chứng khoán</a></li>
                    <li><a ng-href="#/bbbfund">BBB Fund</a></li>
                    <li><a ng-href="#/portfolio">Danh mục đầu tư</a></li>
                    <li><a ng-href="#/contact">Liên hệ</a></li>
                </ul>
            </nav>	
        </div>
    	<div class="container_24 top-1">
        	
        </div>
    </section> 
<!--==============================footer=================================-->
  <footer>
      <p><strong>BBB FUND</strong> <span>© 2015</span></p>
      Website Template designed by <a href="http://www.templatemonster.com/" target="_blank" rel="nofollow" class="link">TemplateMonster.com</a>
  </footer>	
</div>